   @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

        body {
            background-image: url(Imagens/FundoRecuperarSenha.png);
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }

        .fundo {
            width: 64px;
            height: 64px;
            border-radius: 14px;
            background: linear-gradient(135deg, #42a1ec, #3cb4ff);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 800;
            text-shadow: 1px, 3px, 5px, rgba(0, 0, 0, 0.7);
            color: #ffffff;
            font-size: 22px;
            box-shadow: 0 10px 28px rgba(0, 105, 170, 0.14);
            margin-left: 30px;
            margin-top: 30px;
            font-family: "Inconsolata", monospace;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border: 0px solid rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);
            animation: float 3s ease-in-out infinite;
        }

        .CDS-title{
            width: 64px;
            height: 64px;
            border-radius: 14px;
            background: linear-gradient(135deg, #42a1ec, #3cb4ff);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 800;
            text-shadow: 1px, 3px, 5px, rgba(0, 0, 0, 0.7);
            color: #ffffff;
            font-size: 22px;
            box-shadow: 0 10px 28px rgba(0, 105, 170, 0.14);
            margin-left: 30px;
            margin-top: 30px;
            font-family: "Inconsolata", monospace;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border: 0px solid rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);
            animation: float 3s ease-in-out infinite;
        }

        a {
            text-decoration: none;
        }

        .fundo:hover {
            animation-play-state: paused;
        }